.footer {
  padding: 60px 0px;
  background-color: $gray;
  margin-top: 100px;

  &--flex {
    justify-content: left;
    display: block;
    //margin-inline-start: 20px;
  }

  &__img {
    display: flex;
    gap: 1rem;
    width: 100px;
    margin-bottom: 30px;
  }

  &__anchors {
    h2 {
      font-size: 12px;
    }

    li {
      font-weight: lighter;
      font-size: 9px;
      margin-bottom: 6px;

      :hover {
        text-decoration: underline;
      }
    }

    a {
      color: $black;
    }
  }

  .setting {
    display: flex;
    justify-content: space-between;
  }
}
